{{!-- This is the template for the main page --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dam-Stud</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Dam Stud</a>
            </h1>
            <nav>
                <a href="/login">login</a>
            </nav>
            <nav>
                <button id="logout" class="btn-no-style">logout</button>
                <a href="/login">login</a>
            </nav>
        </header>
        <main>
            {{!-- Takes user to create their new profile
            <div class="generate-profile">
                <button type="button" class="btn btn-primary">New Profile</button>
                <h4 class="text-light bg-dark p-3">Create a profile introducing yourself to the group!</h4>
            </div> --}}
            {{!-- Loads all user information from homepage.handlebars --}}
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

    <script src="/js/logout.js"></script>
</body>

</html>