* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #F5A962;
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: #3486eb;
}

nav a {
    padding: 0 40px 0 40px;
    font-size: 28px;
    border:rgba(8, 83, 156, 0.75);
}

header {
    padding: 20px 35px;
    background-color:rgba(8, 83, 156, 0.75);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/dogs-background.jpeg");
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}


header h1 {
    font-size: 50px;
    text-align: center;
    /* padding: 40px 0 30px 0; */
    align-content: center;
    justify-content: center;
}

header h4 {
    font-size: 20px;
    font-weight: lighter;
    color: black;
    align-content: center;
    margin: 40px 40px 10px 10px;
    
}

.logout {
    cursor: pointer;
    color: white;
}

.logout:hover{
    color: royalblue;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex: auto;
    perspective: 1000px;
}

article {
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.profile-list {
    justify-content: space-between;
    padding: 20px;
}

.profile-container {
    border: 1px solid #3486eb;
    border-radius: 20px;
    padding: 5px;
    max-width: 50%;
    margin: 15px;
}

.profile-info title {
    font-weight: bold;
    font-size: 34px;
}

.profile-info ol {
    font-size: 14px;
    font-weight: lighter;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border:rgba(8, 83, 156, 0.75);
}

.title {
    font-size: 24px;
    font-weight: bold;
    color:rgba(8, 83, 156, 0.75);
}

.profile-pic {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    padding: 40px;
    line-height: 1.8;
}

.info p {
    font-size: 18px;
    font-weight: bold;
}

.comment {
    margin-top: 5rem;
    transition: all 0.75s ease-out;
}

.comment button {
    width: 50%;
    align-items: center;
    padding: 20px;
    position: inherit;
    background: #f54642;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    margin-left: 120px;
    margin-bottom: 20px;
}


footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;  
}


